<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="KMine"/>
    <variable name="logFilePath" value="${shortdate}.log"/>

    <extensions>
      <add assembly="kmine"/>
    </extensions>

    <targets>
    <target name="file"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="false"
    concurrentWrites="true"
    fileName="${basedir}/Application.log"/>
      <target name="window" xsi:type="Window"/>
    </targets>

    <rules>
      <logger name="kmine" level="Trace" writeTo="file"/>
      <logger name="kmine" level="Info" writeTo="file"/>
      <logger name="kmine" minlevel="Warn" writeTo="file"/>
      <logger name="kmine" minlevel="Error" writeTo="file"/>
      <logger name="kmine" minlevel="Fatal" writeTo="file"/>
      <logger name="kmine" minlevel="Fatal" writeTo="window"/>
      <logger name="kmine" minlevel="Error" writeTo="window"/>
      <logger name="kmine" minlevel="Warn" writeTo="window"/>
      <logger name="kmine" minlevel="Info" writeTo="window"/>
      <logger name="kmine" minlevel="Trace" writeTo="window"/>
    </rules>
  </nlog>
</configuration>