<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kmine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="KMine"/>
    <variable name="logFilePath" value="${shortdate}.log"/>

    <extensions>
      <add assembly="kmine"/>
    </extensions>

    <targets>
    <target name="file"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="false"
    concurrentWrites="true"
    fileName="${basedir}/Application.log"/>
      <target name="window" xsi:type="Window"/>
    </targets>

    <rules>
      <logger name="kmine" level="Trace" writeTo="file"/>
      <logger name="kmine" level="Info" writeTo="file"/>
      <logger name="kmine" minlevel="Warn" writeTo="file"/>
      <logger name="kmine" minlevel="Error" writeTo="file"/>
      <logger name="kmine" minlevel="Fatal" writeTo="file"/>
      <logger name="kmine" minlevel="Fatal" writeTo="window"/>
      <logger name="kmine" minlevel="Error" writeTo="window"/>
      <logger name="kmine" minlevel="Warn" writeTo="window"/>
      <logger name="kmine" minlevel="Info" writeTo="window"/>
      <logger name="kmine" minlevel="Trace" writeTo="window"/>
    </rules>
  </nlog>
  <applicationSettings>
    <kmine.Properties.Settings>
      <setting name="x_offset" serializeAs="String">
        <value>auto</value>
      </setting>
      <setting name="y_offset" serializeAs="String">
        <value>auto</value>
      </setting>
    </kmine.Properties.Settings>
  </applicationSettings>
</configuration>